* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: rgb(198, 225, 196);
    background-image: url("../images/Patinhas.png");
    background-size: 50%;
    font-family: 'Inter', sans-serif;
}



/* Seção do Login */
.secao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 431px);
}

/* Cria o fundo branco na área de login */
.login {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login h2 {
    margin-bottom: 25px;
}

/* estrutura das   */
.login input {
    width: 93%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;

}

.login .esc_senha {
    display: block;
    margin-bottom: 20px;
    color: #0066cc;
    text-decoration: none;
}

.login .esc_senha:hover {
    text-decoration: underline;
}

.login button {
    font-family:  Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    background-color: rgb( 68, 128, 63);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login button:hover {
    transition: .4s;
    background-color: rgb(56, 105, 52);
}

.login p {
    margin-top: 20px;
    color: #666;
}

.login p a {
    color: #0066cc;
    text-decoration: none;
}
.login p a:hover {
    text-decoration: underline;

}

/* Botões das redes sociais */
.rede-social{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    height: 30px;
    margin-left: 120px;
}

/* Botão acesso ADM */
.acesso-adm {
    display: block;
    margin-top: 20px;
    color:rgb(68, 128, 63);
    text-decoration: none;
    margin-right: 285px;

}

.acesso-adm:hover {
    text-decoration: underline;
}

