* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: #44803f;
}

/* --- Header --- */
#header{
    background-color: #44803f;
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header img{
    height: 100px;
    width: auto;
    padding-right: 100px;
}

nav{
    position: sticky;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    padding-left: 50px;
}
.nav-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
}
.nav-links a:hover, .nav-links a:active{
    border-bottom: 1px solid #ffffff;
}

/* --- Slider --- */
#secslider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#divslider {
    position: relative;
}

#slider {
    display: flex;
    transition: transform 0.5s ease;
    padding: 0;
    margin: 0;
    list-style: none;
}

#slider li {
    min-width: 100%;
}

#slider img {
    height: 450px;
    width: auto;
    object-fit: cover;
    display: block;
}

button {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #44803f;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Para garantir que os botões fiquem acima das imagens */
}
.buttonslider{
    font-weight: 550;
    color: #ffffff;
}
#esquerda {
    left: 20px;
}
#direita {
    right: 20px;
}

/* --- Cards --- */
#seccards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    flex: 1; /* Faz cada card ocupar o mesmo espaço */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccards img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}